body{
    background-image: url(../imagens/fundo-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Ubuntu';
    color: #f3f3f3;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    box-shadow: inset 10px 0px 100px rgb(0, 0, 0)
}
.cartao{
    background-color: #151619c4;
    width: 980px;
    border: 3px solid #5842ff;
    box-shadow: 0 0 10px #5842ff;
    border-radius: 10px;
    overflow: hidden;
}
.cartao .infos{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.cartao .infos img{
    border-radius: 10px;
    border: 3px solid #5842ff;
    box-shadow: 0 0 10px #5842ff;
}
.cartao .infos .nome{
    font-size: 26px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.cartao .infos .cargo {
    font-size: 20px;
    color: #b8bbc5;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.cartao .conteudo{
    margin-top: 15px;
}
.cartao .abas{
    display: flex;
}
.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.cartao .abas img{
    width: 40px;
}
.cartao .abas .aba.selecionado{
    background-color: #0a0b1dde;
    border-radius: 10px 10px 0 0;
}
.cartao .infos-abas{
    background-color: #0a0b1dde;
}
.cartao .abas .aba:hover{
    background-color: #171246de;
    border-radius: 10px 10px 0 0;
}
.infos-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
} 
.infos-abas .informacao.selecionado{
    display: block;
}
.infos-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.infos-abas .descricao{
    font-size: 18px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}
.infos-abas .descricao span{
    color: #5842ff;
}

.projetos{
    display: flex;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-x: auto;
    padding-bottom: 20px;
}
.projetos li a{
    width: 298px;
    height: 140px;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
.projetos .cardapio{
    background-image: url(../imagens/delicias.jpg);
    background-size: cover;
    border: 2px solid #fff;
}
.projetos .cfcfacil{
    background-image: url(../imagens/cfcfacil.jpg);
    background-size: cover;
    border: 2px solid #fff;
}
.projetos .valorant{
    background-image: url(../imagens/valorant.jpg);
    background-size: cover;
    border: 2px solid #fff;
}
.projetos .login-master{
    background-image: url(../imagens/login.jpg);
    background-size: cover;
    border: 2px solid #fff;
}
.projetos .ragnarok{
    background-image: url(../imagens/gow.jpg);
    background-size: cover;
    border: 2px solid #fff;
}
.projetos .mario{
    background-image: url(../imagens/mario.jpg);
    background-size: cover;
    border: 2px solid #fff;
}
.projetos .nft-card{
    background-image: url(../imagens/cardnft.jpg);
    background-size: cover;
    border: 2px solid #fff;
}
.projetos .projeto-marvel{
    background-image: url(../imagens/marvel.jpg);
    background-size: cover;
    border: 2px solid #fff;
}
.projetos .projeto-github{
    background-image: url(../imagens/github.jpg);
    background-size: cover;
    border: 2px solid #fff;
}
.projetos li a:hover{
    opacity: 0.6;
}

.redes-sociais{
    display: flex;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
    padding-bottom: 60px;
}
.redes-sociais li a{
    width: 217px;
    height: 100px;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
.redes-sociais .instagram{
    background-image: linear-gradient(to bottom left, #ef4508, #de1641, #914bbd);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
}
.redes-sociais .linkedin{
    background-image: linear-gradient(to bottom left, #1d87bd, #2fadf0);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
}
.redes-sociais .github{
    background-image: linear-gradient(to bottom left, #161515, #474646);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
}
.redes-sociais .whatsapp{
    background-image: linear-gradient(to bottom left, #117e03, #49e82d);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
}
.redes-sociais li a:hover{
    opacity: 0.6;
    
}
.redes-sociais i{
    font-size: 50px;
}




